body {
    display: flex;
    flex-direction: column;
    background-color: #1F1B24;
    color: #ffffff;
    height: 96vh;
    row-gap: 1vh;
    margin: 2vh;
    padding: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5em;
    height: 10vh;
}

.logo {
    height: 8vh;
}

.title {
    opacity: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6vh;
}

.mainContainer {
    display: flex;
    gap: 1vw;
    height: 86vh;
}

.sidePanel {
    width: min(20vw, 10em);
    background-color: #3c3446;
    border-radius: min(2vw, 10px);
}

.productPanel {
    display: flex;
    width: 100%;
    background-color: #3c3446;
    border-radius: min(2vw, 10px);
    overflow: auto;
}

.componentList {
    width: 100%;
}

.componentListHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
}

.componentListHeaderItem {
    width: 10em;
}

.component {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
}

.componentTitle {
    width: 10em;
}

.containerType {
    width: 10em;
}