:root {
    --componentListCols: 0;
    --componentListRows: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 19.2%);
    grid-template-rows: 10% 89%;
    background-color: #1F1B24;
    color: #ffffff;
    height: 96vh;
    gap: 1% 1%;
    margin: 2vh;
    padding: 0;
    justify-content: stretch;
}

.header {
    grid-column: 1 / 6;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5em;
}

.logo {
    height: 8vh;
}

.title {
    opacity: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6vh;
}

.sidePanel {
    grid-column: 1 / 2;
    grid-row: 2;
    background-color: #3c3446;
    border-radius: 10px;
    padding: 0.5em;
}

.productPanel {
    grid-column: 2 / 6;
    grid-row: 2;
    display: flex;
    background-color: #3c3446;
    border-radius: 10px;
    overflow: auto;
    padding: 0.5em;
}

.productPanel::-webkit-scrollbar {
    display: none;
}

.componentList {
    display: grid;
    grid-template-columns: repeat(var(--componentListCols), 5em);
    grid-template-rows: 2em repeat(var(--componentListRows), 5em);
    gap: 1% 1%;
}

.componentListHeaderItem {
    width: 5em;
    overflow: auto;
    text-overflow: ellipsis;
}

.componentListHeaderItem:hover {
    text-overflow: clip;
}

.componentListHeaderItem::-webkit-scrollbar {
    display: none;
}

.component {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
}

.componentTitle {
    width: 5em;
    overflow: auto;
    text-overflow: ellipsis;
}

.componentTitle:hover {
    text-overflow: clip;
}

.componentTitle::-webkit-scrollbar {
    display: none;
}

.containerType {
    width: 5em;
}

.containerCard {
    background: #494055;
    height: 4em;
    line-height: 1em;
    border-radius: 0.5em;
    cursor:pointer;
}